<button class="btn btn-primary btn-icon" type="button" tooltip="Enviar" (click)="showSendPropertyModal()">
  <i class="ion-email"></i>
</button>

<button class="btn btn-success btn-icon" type="button" tooltip="Ver" (click)="showViewModal(property.id)">
  <i class="ion-search"></i>
</button>

<button *ngIf="actionPermission" class="btn btn-info btn-icon" type="button" tooltip="Editar" [routerLink]="['/pages/properties/edit_property', property.id]">
  <i class="ion-edit"></i>
</button>

<button *ngIf="actionPermission" class="btn btn-danger btn-icon" type="button" tooltip="Eliminar" (click)="showPropertyDeleteModal()">
  <i class="ion-trash-a"></i>
</button>


<!-- Send property by email modal -->
<div bsModal #sendPropertyModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="line-height: initial;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideSendPropertyModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Enviar propiedad</h4>
      </div>
      <div class="modal-body">

        <div class="overlayDiv" *ngIf="loadingIcon">
          <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
          <span class="sr-only">Loading...</span>
        </div>

        <div class="form-group">
          <label for="property_name">Propiedad: </label>
          <input type="text" class="form-control" id="property_name" name="property_name" [(ngModel)]="property.title" disabled>
        </div>

        <div class="form-group">
          <label for="recipientEmail">Destinatario: </label>
          <input  ngui-auto-complete class="form-control" id="recipientEmail"
                  [(ngModel)]="selected"
                  [source]="observableSource.bind(this)"
                  list-formatter="name"
                  no-match-found-text="No hay resultados"
                  (valueChanged)="onCustomerSelected($event)"/>
          <!-- <br/>selected model: {{selected | json}}<br/><br/> -->
        </div>

        <div class="form-group">
          <label for="email">Email: </label>
          <input type="text" class="form-control" id="email" name="email" [(ngModel)]="dataSendProperty.customer_email" disabled>
        </div>

        <div class="form-group">
          <label for="message">Mensaje: </label>
          <textarea class="form-control" name="message" id="message" cols="30" rows="5" [(ngModel)]="dataSendProperty.message"></textarea>
        </div>

        <div class="form-group">
          <button type="button " class="btn btn-success" (click)="onSendProperty()">Enviar</button>
        </div>

      </div>

    </div>
  </div>
</div>


<!-- Delete Poperty modal -->
<div bsModal #deletePropertyModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="line-height: initial;">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" aria-label="Close" (click)="hidePropertyDeleteModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Eliminar propiedad</h4>
      </div>
      <div class="modal-body">
        ¿Esta seguro que desea eliminar la propiedad {{property.title}}?
      </div>
      <div class="modal-footer">

        <button class="btn btn-success" (click)="onDeleteProperty(property.id)">Aceptar</button>
        <button class="btn btn-danger confirm-btn" (click)="hidePropertyDeleteModal()">Cancelar</button>

      </div>
    </div>
  </div>
</div>
