<div class="widgets">

  <div class="row">
    <ba-card title="Filtro" baCardClass="with-scroll" *ngIf="userData.rol_id == '1'">

      <div class="row">

        <div class="col-md-12">

          <div class="col-md-3">

            <div class="form-group">
              <label class="col-sm-4 form-control-label" name="allUusers">Agentes</label>
              <div class="col-sm-8">
                <select class="form-control" id="allUusers" [(ngModel)]="selectedUser" (ngModelChange)="onChangeUser($event)">
                  <option *ngFor="let item of users" [ngValue]="item"> {{item.name}} </option>
                </select>
              </div>
            </div>

          </div>

        </div>

      </div>

    </ba-card>
  </div>

  <div class="row">
    <ba-card title="Cierre de Propiedades" baCardClass="with-scroll">
      <div class="table-responsive">
        <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)"></ng2-smart-table>
      </div>
    </ba-card>
  </div>

  <confirm-modal [id]="'confirm_remove_id'" [confirmMessage]="'Esta seguro de eliminar el cierre de propiedad'"  (ok)="deleteItem()"></confirm-modal>

</div>
