


<!-- Blog post Edit Modal -->

<div bsModal #blogPostEditModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="line-height: initial;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideBlogPostEditModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Agregar Post</h4>
      </div>
      <div class="modal-body">

        <form #blogPostAddForm="ngForm" novalidate style="position: relative" >

          <div class="form-group">

            <label for="title">Titulo: *</label>
            <input type="text" class="form-control"  id="title" placeholder="Titulo del post" name="title" [(ngModel)]="blogPostData.title" required #title="ngModel">

            <div *ngIf="title.errors && (title.dirty || title.touched)" class="alert alert-danger">
              * Titulo es requerido
            </div>

          </div>

          <div class="form-group">

            <label for="overview">Resumen: *</label>
            <input type="text" class="form-control"  id="overview" placeholder="Titulo del post" name="overview" [(ngModel)]="blogPostData.overview" required #overview="ngModel">

            <div *ngIf="overview.errors && (overview.dirty || overview.touched)" class="alert alert-danger">
              * Resumen es requerido
            </div>

          </div>

          <div class="form-group">

            <label for="content">Descripción: *</label>

            <ckeditor [(ngModel)]="blogPostData.content" [config]="config" name="content" id="content" required #content="ngModel"></ckeditor>

            <div *ngIf="!content.valid && submitted" class="alert alert-danger">
              * Contenido es requerido
            </div>

          </div>

          <div class="form-group">
            <label for="postCategory" class="col-sm-2 form-control-label">Categoria: *</label>
            <div class="col-sm-10">
              <select class="form-control" id="postCategory" name="postCategory" [(ngModel)]="selectedPostCategory">
                <option *ngFor="let item of blogPostCategories" [ngValue]="item">{{item.name}}</option>
              </select>
            </div>
          </div>

          <div class="form-group">

            <label for="tags">Tags: </label>
            <input type="text" class="form-control"  id="tags" placeholder="construccion,consejos,decoracion" name="tags" [(ngModel)]="blogPostData.tags">

          </div>

          <ba-card title="Imagen del Post" baCardClass="with-scroll">
            <ba-picture-uploader [picture]="profile.picture" [defaultPicture]="defaultPicture" [uploaderOptions]="uploaderOptions"></ba-picture-uploader>
            <br>
            <div class="alert alert-info">
              <strong>Recuerde!</strong> La imagen debe ser minimo de 767 * 412.
            </div>
          </ba-card>


          <div class="form-group">
            <button type="button" class="btn btn-success confirm-btn" [disabled]="!blogPostAddForm.form.valid" (click)="onUpdateBlogPost()">Guardar</button>
            <button type="button" class="btn btn-danger" (click)="hideBlogPostEditModal()">Cancelar</button>
          </div>

        </form>

      </div>

    </div>
  </div>
</div>
