<div class="page-top clearfix" baScrollPosition maxHeight="50" (scrollChange)="scrolledChanged($event)"
     [ngClass]="{scrolled: isScrolled}">
  <a routerLink="/pages/dashboard" class="al-logo clearfix">MAS INMOBILIARIA</a>
  <a href (click)="toggleMenu()" class="collapse-menu-link ion-navicon"></a>


  <div class="user-profile clearfix">
    <div class="dropdown al-user-profile">
      <a class="profile-toggle-link dropdown-toggle" id="user-profile-dd" data-toggle="dropdown" aria-expanded="false">
        <!-- <img src="{{ ( 'Nasta' | baProfilePicture ) }}"> -->
        <img src="{{userData.path_user_icon}}" alt="">
      </a>
      <ul class="dropdown-menu top-dropdown-menu profile-dropdown" aria-labelledby="user-profile-dd">
        <li class="dropdown-item"><i class="dropdown-arr"></i></li>
        <li class="dropdown-item"><a (click)="showUserEditModal()" style="cursor:pointer"><i class="fa fa-user"></i>Perfil</a></li>
        <!-- <li class="dropdown-item"><a href><i class="fa fa-cog"></i>Configuracion</a></li> -->
        <li class="dropdown-item" >
          <a (click)="logout()" class="signout">
            <i class="fa fa-power-off"></i>Salir
          </a>
        </li>
      </ul>
    </div>
    <!--<ba-msg-center></ba-msg-center>-->
  </div>
</div>



<!-- User Edit Modal -->

<div bsModal #userEditModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="line-height: initial;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideUserEditModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Editar Mi Perfil</h4>
      </div>
      <div class="modal-body">

        <form #userEditForm="ngForm" novalidate style="position: relative;">
          <!--*ngIf="!loadingSendEmail"-->
          <div class="overlayDiv" *ngIf="loadingIcon">
            <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
            <span class="sr-only">Loading...</span>
          </div>

          <img [src]="userData.path_user_photo" class="img-thumbnail img-center" alt={{userData.name}} width="304" height="236">
          <br>

          <div class="form-group">
            <label for="imageUpload" class="btn btn-success labelFileContainer">Seleccionar imagen

              <input type="file" id="imageUpload"
                     [ng-file-select]="options"
                     (onUpload)="handleUpload($event)">

            </label>
          </div>

          <div class="form-group">
            <label for="name">Nombre *</label>
            <input type="text" class="form-control"  id="name" placeholder="Nombre y apellidos" name="name" [(ngModel)]="userData.name" required #name="ngModel">

            <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
              * Nombre es requerido
            </div>

          </div>

          <div class="form-group">
            <label for="changePassword"> <input type="checkbox" id="changePassword" name="changePassword" [(ngModel)]="selectChangePassword" > Cambiar contraseña:  </label>

            <div *ngIf="selectChangePassword">

              <input type="password" class="form-control"  id="password" name="newPassword" [(ngModel)]="userData.newPassword" #newPassword="ngModel" minlength="6" maxlength="12">

              <div *ngIf="newPassword.errors && (newPassword.dirty || newPassword.touched)">
                <div *ngIf="newPassword.errors.minlength" class="alert alert-danger">
                  * Debe tener por lo menos 6 caracteres
                </div>
              </div>

            </div>

          </div>

          <div class="form-group">

            <label for="email">Email *</label>
            <input type="text" class="form-control" id="email" placeholder="Correo electronico" name="email" [(ngModel)]="userData.email" required #email="ngModel">

            <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
              * Email es requerido
            </div>

          </div>

          <div class="form-group">
            <label for="phone">Telefono:</label>
            <input type="text" class="form-control" id="phone" placeholder="Telefono celular" name="phone" [(ngModel)]="userData.phone">
          </div>

          <hr>

          <div class="form-group">
            <button type="button" class="btn btn-success confirm-btn" [disabled]="!userEditForm.form.valid" (click)="onEditUser(userData)">Guardar</button>
            <button type="button" class="btn btn-danger" (click)="hideUserEditModal()">Cancelar</button>
          </div>

        </form>

      </div>

    </div>
  </div>
</div>
